beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
crypto==1.4.1
cryptography==35.0.0
et-xmlfile==1.1.0
idna==3.3
importlib-metadata==4.8.2
lxml==4.9.1
MarkupSafe==2.0.1
Naked==0.1.31
openpyxl==3.0.10
progressbar==2.5
pycparser==2.20
pycryptodome==3.12.0
PyYAML==6.0
requests==2.26.0
shellescape==3.8.1
soupsieve==2.3.1
tqdm==4.64.1
typing-extensions==3.10.0.2
urllib3==1.26.7
xlrd==2.0.1
zipp==3.6.0
